.card-detail {
    position: fixed;
}

.card-detail img {
    height: 100%;
    /* position: fixed;  TODO: figure out the fixed position, and not break the styling */
    width: 100%;
    object-fit: contain;
    max-height: 100%;
}

.card-detail-name {
    display: flex;
    align-items: center;
    justify-content: center;
}